body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

nav {
    background-color: #5D7D40;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #B0CA98;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button {
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#emergencyNews {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}
